body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-image: url(firefox.png),
  url(bubbles.png),
  linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
background-repeat: no-repeat,
  no-repeat,
  no-repeat;
background-position: bottom right,
  left,
  right;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}
.p{
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color:

}

.buttom-container {

}

.Gra {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
